
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
    font-weight: 700;
    font-family: var(--font-family);
}
/************************** Main ************************************/
main{
	min-height: 100vh;
	background-color: var(--very-dark-desaturated-blue-main-bg);
	font-size: 16px;
	padding: 30px;
	display: flex;
	justify-content: center;
}
/*+++++++++++++++++++++++++++Main theme 2+++++++++++++++++++++++++++*/
.main-theme-2{
	background-color: var(--light-gray-main-bg);
}
/*+++++++++++++++++++++++++++Main theme 3+++++++++++++++++++++++++++*/
.main-theme-3{
	background-color: var(--very-dark-violet-main-bg);
}

.calculator-wrapper{
	max-width: 523px;
}

/************************** Header ************************************/
.calculator-top{
	color: var(--white);
	display: flex;
	justify-content: space-between; 
	width: 100%;
	
	& h1{
		font-size: 28px;
		margin-top: 6px;
	}
	& p{
		text-transform: uppercase;
		font-size: 10px;
		align-self: flex-end;
		letter-spacing: 1px;
		margin-bottom: 6px;
	}
}
.theme-box{
	display: flex;
	gap: 30px;
	font-size: 14px;
}
.theme-input{
	display: grid;
	grid-template-areas: 
	"labels"
	"radios"
	;
}
.label-box{
	grid-area: labels;
	margin-bottom: 3px;
	font-size: 11px;
	display: flex;
	justify-content: space-around;
	padding: 0px 4px;
}
.radio-box{
	grid-area: radios;
	background-color: var(--very-dark-desaturated-blue-toggle-keypad-bg);
	height: 25px;
	width: 65px;
	justify-self: center;
	
    border-radius: 14px;
	& input[type="radio"]{
		cursor: pointer;
		appearance: none;
		height: 15px;
		width: 15px;
		border-radius: 50%;
	}
}
.theme-inputs{
	opacity: 0;
	margin-top: 5px;
	&:checked{
		opacity: 1;
	}
	&:not(:checked):hover {
		opacity: 0.5;
		transition-duration: 500ms;
	}
}
#radio-theme1{
	background: var(--red-key-bg-toggle);
	margin-left: 6px;
}
#radio-theme2{
	background: var(--orange-key-bg-toggle);
}
#radio-theme3{
	background: var(--pure-cyan-key-bg-toggle);
}
/*+++++++++++++++++++++++++++Header theme 2+++++++++++++++++++++++++++*/
.calculator-top-theme2{
	color: var(--very-dark-grayish-yellow);
}
.radio-box-theme2{
	background-color: var(--grayish-red-toggle-key-bg);
}
/*+++++++++++++++++++++++++++Header theme 3+++++++++++++++++++++++++++*/
.calculator-top-theme3{
	color: var(--light-yellow);
}
.radio-box-theme3{
	background-color: var(--very-dark-violet-toggle-keypad-screen-bg);
}
/*****************************Screen********************************/
.calculator-screen{
	width: 100%;
	height: 80px;
	background-color: var(--very-dark-desaturated-blue-screen);
	color: var(--white);
	border-radius: 15px;
	margin: 30px 0px;
	font-size: 36px;
	display: flex;
    align-items: center;
	justify-content: right;
	padding-right: 25px;
}

/*+++++++++++++++++++++++++++Screen theme 2+++++++++++++++++++++++++++*/

.calculator-screen-theme2{
	background-color: var(--very-light-gray-screen-bg);
	color: var(--very-dark-grayish-yellow);
}
/*+++++++++++++++++++++++++++Screen theme 3+++++++++++++++++++++++++++*/

.calculator-screen-theme3{
	background-color: var(--very-dark-violet-toggle-keypad-screen-bg);
	color: var(--light-yellow);
}


/*****************************Buttons********************************/
.calculator-buttons{

	display: grid;
	grid-template-columns:repeat(4, minmax(29px, 107px));
	gap: 15px;
	background-color: var(--very-dark-desaturated-blue-toggle-keypad-bg);
	padding: 24px;
	border-radius: 10px;
	
}
.btn{
	font-size: 29px;
	text-transform: uppercase;
	border-radius: 5px;
	border: 0;
	padding-top: 5px;
	color: var(--very-dark-grayish-blue);
	background-color: var(--light-grayish-orange-key-bg);
	box-shadow: 0px 4px 0px 0px var(--grayish-orange-key-shadow);
	height: 55px;
	&:nth-child(16){
		text-transform: lowercase;	
	}
	&:nth-child(17){
		grid-column-start: 1;
		grid-column-end: 3;
		
	}
	&:nth-child(18){
		grid-column-start: 3;
		grid-column-end: 5;
		font-size: 16px;
		color: var(--white);
		background-color: var(--red-key-bg-toggle);
		box-shadow: 0px 4px 0px 0px var(--dark-red-key-shadow);
		
	}
	&:nth-child(4),&:nth-child(17){
		font-size: 18px;
		color: var(--white);
		background-color: var(--desaturated-dark-blue-key-bg);
		box-shadow: 0px 4px 0px 0px var(--desaturated-dark-blue-key-shadow);
	}
}
/*+++++++++++++++++++++++++++Buttons theme 2+++++++++++++++++++++++++++*/
.calculator-buttons-theme2{
	background-color: var(--grayish-red-toggle-key-bg);
}

.btn-theme2{

	color: var(--very-dark-grayish-yellow);
	background-color: var(--light-grayish-yellow-key-bg);
	box-shadow: 0px 4px 0px 0px var(--dark-grayish-orange-key-shadow);
	&:nth-child(18){
		color: var(--white-text);
		background-color: var(--orange-key-bg-toggle);
		box-shadow: 0px 4px 0px 0px var(--dark-orange-key-shadow);
		
	}
	&:nth-child(4),&:nth-child(17){
		color: var(--white-text);
		background-color: var(--dark-moderate-cyan-key-bg);
		box-shadow: 0px 4px 0px 0px var(--very-dark-cyan-key-shadow);
	}
}
/*+++++++++++++++++++++++++++Buttons theme 3+++++++++++++++++++++++++++*/
.calculator-buttons-theme3{
	background-color: var(--very-dark-violet-toggle-keypad-screen-bg);
}

.btn-theme3{

	color: var(--light-yellow);
	background-color: var(--very-dark-violet-key-bg);
	box-shadow: 0px 4px 0px 0px var(--dark-magenta-key-shadow);
	&:nth-child(18){
		color: var(--very-dark-blue);
		background-color: var(--pure-cyan-key-bg-toggle);
		box-shadow: 0px 4px 0px 0px var(--soft-cyan-key-shadow);
		
	}
	&:nth-child(4),&:nth-child(17){
		color: var(--white-text);
		background-color: var(--dark-violet-key-bg);
		box-shadow: 0px 4px 0px 0px var(--vivid-magenta-key-shadow);
		
	}
}