
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
    font-weight: 700;
    font-family: var(--font-family);
}
/************************** Main ************************************/
main{
	min-height: 100vh;
	background-color: var(--very-dark-desaturated-blue-main-bg);
	font-size: 16px;
	padding: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover{
		transition: background-color 0.5s ease;
	}
}
/*+++++++++++++++++++++++++++Main theme 2+++++++++++++++++++++++++++*/
.main-theme-2{
	background-color: var(--light-gray-main-bg);
}
/*+++++++++++++++++++++++++++Main theme 3+++++++++++++++++++++++++++*/
.main-theme-3{
	background-color: var(--very-dark-violet-main-bg);
}

.calculator-wrapper{
	max-width: 523px;
}